### Q1. 본인의 이름, 학번, 좋아하는 음식을 value에 넣어 dictionary를 완성시켜 보세요

In [3]:
info = {"이름" : "장예진"  , "학번" : "20195262", "음식" : "삼겹살" }
info

{'이름': '장예진', '학번': '20195262', '음식': '삼겹살'}

### Q2. 1번에서 만든 dictionary에서 좋아하는 음식(value)를 key를 사용해 출력해보세요

In [24]:
print(info['음식'])

삼겹살

### Q3. 다음 a라는 리스트에서 중복된 요소가 제거된 리스트를 만들어 출력해보세요

In [8]:
a = [1, 1, 2, 2, 2, 3, 4, 5, 5]
result = list(set(a))
print(result)

[1, 2, 3, 4, 5]

### Q4. 1이라는 한 요소가 담긴 튜플을 만들어 출력해보세요

In [10]:
tu_ple = 1,    
print(tu_ple)

(1,)

### Q5. datetime 모듈을 사용해 올해 어린이날부터 크리스마스까지 얼마나 남았나 계산해보세요!

In [67]:
import datetime 

christmas = datetime.date(2022,12,25)
kidday = datetime.date (2022,5,5)


christmas - kidday
print((christmas - kidday).days,"일 남았어요")
print((christmas - kidday).seconds,"초")
print((christmas - kidday).seconds / 3600,"시간")

234 일 남았어요
0 초
0.0 시간

### Q6. 리스트 문제!

In [59]:
listt = [20, 120, 50, 70, 40, 90, 50, 80, 60]

(1)
listt에서 60을 제거하세요

In [60]:
listt.pop()
listt

[20, 120, 50, 70, 40, 90, 50, 80]

(2)
listt의 앞 네 요소를 출력하세요

In [68]:
listt[:3]

[20, 120, 50]

(3)
listt를 요소의 크기를 기준으로 정렬하세요

In [21]:
listt.sort()
listt

[20, 40, 50, 50, 70, 80, 90, 120]

(4)
listt의 맨 마지막 요소를 출력하세요

In [87]:
listt[-1]

80

(5)
listt의 요소를 모두 삭제한 후 리스트를 출력하세요

In [88]:
print(listt.clear())

None

(6) listt를 삭제하세요 (삭제 후 삭제가 되었나 출력까지 해보기)

In [89]:
del listt

In [90]:
listt

NameError: name 'listt' is not defined

### Q7. 다음 두 리스트의 요소들을 동일한 인덱스를 가지는 요소끼리 튜플로 묶어, 이것을 다시 리스트에 담아 출력해보세요

In [23]:
player = ["손흥민", "메시", "홀란드", "네이마르"]
number = [7, 30, 9, 10]

In [80]:
for i, (a,b) in enumerate(zip(player,number)): 
    
    print(i,a,b)

0 손흥민 7
1 메시 30
2 홀란드 9
3 네이마르 10

In [86]:
list(zip(player,number))

[('손흥민', 7), ('메시', 30), ('홀란드', 9), ('네이마르', 10)]

### Q8. 다음 수의 각 자리수를 변수를 사용하여 더해보세요

In [69]:
a = 647

In [1]:
def sumofDigits(a):
    sum = 0
    for i in list(str(a)):
        sum += int(i)
        
    return sum 

print(sumofDigits(647))

17

### Q9. 1번에서 만들었던 dictionary에서 각 value를 가져와 문자열 포매팅을 사용해서 다음 문장을 출력해보세요
(ex)
"제 이름은 김띵키이고, 학번은 20124875, 좋아하는 음식은 마라맛 우유입니다."

In [92]:
info = {"이름" : "김띵키"  , "학번" : "20124875", "음식" : "마라맛우유" }
print('"제 이름은 {0} 이고, 학번은 {1}, 좋아하는 음식은 {2}입니다."'.format('김띵키','20124875','마라맛 우유'))

"제 이름은 김띵키 이고, 학번은 20124875, 좋아하는 음식은 마라맛 우유입니다."

### Q10. 아래 그림을 참고하여 (1)과 (2) 두 수를 사용하여 (3), (4), (5), (6)의 값을 출력하시오. [10점]

(총 4개의 값이 출력되어 있어야 함)

![formula](formula.png)

In [96]:
a = 472
b = 385

#백의자리
hundred = int(b/100)

#십의 자리
ten =int((b%100)/10)

#일의 자리
one= int(b%10)

print(a*one)
print(a*ten)
print(a*hundred)

print(a*b)

2360
3776
1416
181720