In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
restaurant = pd.read_excel("./Restaurant.xlsx",header=0,index_col ="Restaurant")
restaurant.columns = restaurant.columns.str.replace(' ','_')
restaurant

           Quality_Rating  Meal_Price($)
Restaurant
36                   Good             10
52                   Good             10
53              Very Good             10
60                   Good             10
125                  Good             10
...                   ...            ...
35              Excellent             47
269             Excellent             47
67              Very Good             48
170             Excellent             48
271             Excellent             48

[300 rows x 2 columns]

In [3]:
restaurant = restaurant.sort_values('Restaurant')
restaurant

           Quality_Rating  Meal_Price($)
Restaurant
1                    Good             18
2               Very Good             22
3                    Good             28
4               Excellent             38
5               Very Good             33
...                   ...            ...
296                  Good             17
297                  Good             16
298                  Good             15
299             Very Good             38
300             Very Good             31

[300 rows x 2 columns]

In [5]:
conditions = [
    (restaurant['Meal_Price'] >= 40) & (restaurant['Meal_Price']<50) ,
    (restaurant['Meal_Price'] >= 30) & (restaurant['Meal_Price']<40) ,
    (restaurant['Meal_Price'] >= 20) & (restaurant['Meal_Price']<30) ,
    (restaurant['Meal_Price'] >= 10) & (restaurant['Meal_Price']<20) 
]

options = ['40~49','30~39','20~29','10~19']
restaurant['Group'] = np.select(conditions, options, default ='nothing')
restaurant

KeyError: 'Meal_Price'

In [ ]:
pivot_table = pd.pivot_table(restaurant, index = ['Group'], columns = ['Quality_Rating'],aggfunc = 'count',fill_value=0)
pivot_table

In [ ]:
pivot_df = pd.DataFrame(pivot_table.to_records())

excellent = pivot_df.iloc[:,1]
very_good = pivot_df.iloc[:,3]
good = pivot_df.iloc[:,2]

good

In [ ]:
very_good

In [ ]:
excellent

In [ ]:
label =['10~19$','20~29$','30~39$','40~49$']
plt.figure(figsize=(8,15))
plt.pie(excellent,labels=label,autopct='%.1f%%')
plt.show() #excellent에 대한 pie 차트

In [ ]:
n = len(label)
index = np.arrange(n)
plt.figure(figsize=(10,8))
p1=plt.bar(index, good, label='Good',color='r',width=0.2)
p2 = plt.bar(index+0.2, very_good, label='Very Good',color='g',width=0.2 )
p3= plt.bar(index+0.4,excellent,label='Excellent',color='b',width=0.2)
plt.xticks(index+0.2,label,fontsize=15) 

plt.legend()
plt.title('다중 막대그래프',fontsize=20)
plt.ylabel('numbers',fontsize=18)
plt.xlabel('Meal Price',fontsize=18)
plt.show()

In [ ]:
plt.figure(figsize=(8,12))
p1 = plt.bar(index,good,label='Good',color='g')
p2 = plt.bar(index,very_good, label='Very Good',color='b',bottom= good)
p3 = plt.bar(index,excellent, label='Excellent',color='b',bottom = good+very_good)
plt.ylabel('numbers',fontsize=18)
plt.xlabel('Meal_Price',fontsize=18)
plt.xticks(index,label,fontsize=15)
plt.legend()
plt.show()