<font color="#CC3D3D"><p>
# 실습-01: 명시적 프로그래밍(Explicit Programming, Rule-based System)

행(ㅡ): 학습대상
열(ㅣ): 
독립변수:feature 연속형(회귀)
종속 변수:target(y) 범주형 변수(-> 분류(->이중,다중 분류로 나뉨))

### 0. Problem Statement

타이타닉의 생존자는 누구일까?   
- 생존자를 찾기 위한 규칙(IF문)을 작성하세요.
- 작성한 규칙을 탑승자 데이터에 적용하여 규칙이 얼마나 맞는지 확인하세요.

##### Imports

In [1]:
import pandas as pd 
from sklearn.metrics import accuracy_score # 정확도(예측값과 실제값이 얼마나 일치하는지) 계산함수

### 1. Read Data

In [95]:
train = pd.read_csv('titanic_train.csv', encoding='cp949') 
train

,승객ID,생존여부,객실등급,성별,나이,동반_형제자매배우자,동반_부모자식,티켓가격,이름,티켓번호,객실번호,탑승항구
0,1,0,3,남자,22.0,1,0,7.2500,"Braund, Mr. Owen Harris",A/5 21171,NaN,S
1,2,1,1,여자,38.0,1,0,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",PC 17599,C85,C
2,3,1,3,여자,26.0,0,0,7.9250,"Heikkinen, Miss. Laina",STON/O2. 3101282,NaN,S
3,4,1,1,여자,35.0,1,0,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",113803,C123,S
4,5,0,3,남자,35.0,0,0,8.0500,"Allen, Mr. William Henry",373450,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,남자,27.0,0,0,13.0000,"Montvila, Rev. Juozas",211536,NaN,S
887,888,1,1,여자,19.0,0,0,30.0000,"Graham, Miss. Margaret Edith",112053,B42,S
888,889,0,3,여자,NaN,1,2,23.4500,"Johnston, Miss. Catherine Helen ""Carrie""",W./C. 6607,NaN,S
889,890,1,1,남자,26.0,0,0,30.0000,"Behr, Mr. Karl Howell",111369,C148,C
890,891,0,3,남자,32.0,0,0,7.7500,"Dooley, Mr. Patrick",370376,NaN,Q

### 2. Make Rules

In [222]:
def rules(x):
    if (x.성별 == '여자') and (x.나이 <5) and (x.객실등급 == 1):
        return 1
    if (x.성별 == '여자') and (10< x.나이) and (x.티켓가격 <300):
        return 1
    
    # 이런 경우에 생존 또는 그렇지 않았다고 생각하는 규칙을 추가하세요 !!!

    return 0

In [223]:
# 탑승자 한사람씩 (train 데이터의 한 행) 위의 규칙을 적용하여 생존여부를 예측
prediction = train.apply(rules, axis=1)  #axis=1은 한행씩 실행해달라는 의미 

# 데이터 프레임으로 만들어, 예측값과 실제값을 비교
pd.DataFrame({'승객ID': train.승객ID, '생존여부(예측)': prediction, '생존여부(실제)': train.생존여부})

     승객ID  생존여부(예측)  생존여부(실제)
0       1         0         0
1       2         1         1
2       3         1         1
3       4         1         1
4       5         0         0
..    ...       ...       ...
886   887         0         0
887   888         1         1
888   889         0         0
889   890         0         1
890   891         0         0

[891 rows x 3 columns]

### 3. Evaluate Rules

In [224]:
# 예측값과 실제값이 얼마나 일치하는지 측정: 정확도
accuracy_score(train.생존여부, prediction)

0.755331088664422

<font color="#CC3D3D"><p>
# End